html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: #000;
    min-height: 150px;
}


.header img{
    margin: 15px;
}


.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #a52a2a;
    min-height: 150px;
}



.row-3{
    float: none;
    width: 30%;
    display: inline-block;
    float: left;
}
